@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebe6e0;
  --foreground: #0b1215;
  --primary: #4c7766;
  --red: #ff5f68;
  --yellow: #ffe75f;
  --blue: #5f8fff;
}

body {
  background: var(--background);
}

button {
  @apply outline-none rounded-md focus:ring-0 focus:outline-none font-josefin;
}

h1 {
  @apply text-6xl font-bold text-background font-josefin;
}

h2 {
  @apply text-4xl font-bold text-background font-josefin;
}

h3 {
  @apply text-3xl font-bold text-background font-josefin;
}

h4 {
  @apply text-2xl font-bold text-background font-josefin;
}

h5 {
  @apply text-2xl font-bold text-background font-josefin;
}

h6 {
  @apply text-xl font-bold text-background font-josefin;
}

p {
  @apply text-base text-background font-josefin;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .c_transitions {
    @apply transition-all duration-300 ease-in-out;
  }

  .text-label {
    @apply text-lg text-background font-josefin text-balance text-center;
  }

  .card-embla {
    @apply min-w-full h-full pl-5 lg:p-8 lg:pl-5;
  }

  .dimmed {
    opacity: 0.5;
  }

  .tag {
    @apply bg-background text-primary p-0.5 px-2 rounded-full w-fit font-sans font-bold text-sm 2xl:text-base;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
