@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebe6e0;
  --foreground: #0b1215;
  --primary: #4c7766;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0b1215; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  background: var(--background);
}

button {
  @apply outline-none rounded-md focus:ring-0 focus:outline-none font-josefin;
}

h1 {
  @apply text-6xl font-bold text-background font-josefin;
}

h2 {
  @apply text-4xl font-bold text-background font-josefin;
}

h3 {
  @apply text-3xl font-bold text-background font-josefin;
}

h4 {
  @apply text-2xl font-bold text-background font-josefin;
}

h5 {
  @apply text-2xl font-bold text-background font-josefin;
}

h6 {
  @apply text-xl font-bold text-background font-josefin;
}

p {
  @apply text-base text-background font-josefin;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .c_transitions {
    @apply transition-all duration-300 ease-in-out;
  }

  .text-label {
    @apply text-lg text-background font-josefin text-balance text-center;
  }
}
